#editor { 
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width : 50%;
	float :left;
	font-family: "Courier";
}
#stdout
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 50%;
	width : 50%;
	float :right;
	font-family: "Courier";
}
#stdcanvas
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 100%;
	width : 50%;
	float :right;
	font-family: "Courier";
}

#run:hover
{
	background-color: green;
	color:white;
}
#code:hover{
	background-color: red;
	color:white;
}
#canvas:hover
{
	background-color: orange;
	color:white;
}
#toggle_sidebar:hover
{
	background-color: DeepPink;
	color:white;
}


body
{
	margin:0;
	top:0;
	font-family:sans-serif;
	width:100%;
}
/*Style the Scrollbars*/

::-webkit-scrollbar
{
  width: 6px;  /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
  border-radius:3px;
}
::-webkit-scrollbar-track
{
  background: grey;
}

::-webkit-scrollbar-thumb
{
   background: white;
}